.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  color: #FFFFFF;
  padding: 23px 0 0;
  margin: 0;
  max-width: 282px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: name;
}


@media screen and (min-width: 1280px) {
  .profile__name {
    font-size: 42px;
    line-height: 48px;
    max-width: 294px;
    padding: 0;
  }
}