.popup__save { 
  margin: 45px 0 0 0;
  padding: 0;
  border: 0;
  border-radius: 2px;
  background-color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  min-width: 238px;
  min-height: 46px;
  cursor: pointer;
}

.popup__save:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1280px) {
  .popup__save {
    min-width: 358px;
    min-height: 50px;
    font-size: 18px;
    line-height: 22px;
  }
}