.profile__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .profile__card {
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 120px;
    align-items: flex-start;
  }
}