.element__button_delete {
    margin: 0;
    padding: 0;
    min-width: 18px;
    height: 19px;
    border: 0;
    background-image: url(../../../../images/delete.svg);
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    right: 20px;
}

  .element__button_delete:hover {
    opacity: 0.5;
  }