.popup__container {
  background-color: white;
  width: calc(100% - (19px * 2));
  max-width: 430px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1280px) {
  .popup__container {
    width: calc(100% - (200px * 2));
  }
}